{{!-- <form action="/create_blog" method="post" enctype="multipart/form-data">
    <div> <label for="title">Title</label>
        <input type="text" name="title" id="title"> </div>
    <div>
        <label for="image">Image</label>
        <input type="file" name="image" id="image">
    </div>
    <button type="submit">Add Blog</button>
</form> --}}
<form action="/point" method="post" enctype="multipart/form-data" class="text-center border border-light p-5">

    <p class="h4 mb-4">Point of sale </p>

    <div class="form-row mb-4 justify-content-center">
        <div class="col-6">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control"  name="product_name" placeholder="Product Name">
        </div>
          </div>


              <div class="form-row mb-4 justify-content-center">
        <div class="col-6">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="product_price" placeholder="Product Price">
        </div>
          </div>


                   <div class="form-row mb-4 justify-content-center">
        <div class="col-6">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="product_barcode" placeholder="Product Barcode">
        </div>
          </div>

                   <div class="form-row mb-4 justify-content-center">
        <div class="col-6">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="product_title" placeholder="Product Title">
        </div>
          </div>


                   <div class="form-row mb-4 justify-content-center">
        <div class="col-6">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="product_details" placeholder="Product Details">
        </div>
          </div>


                   <div class="form-row mb-4 justify-content-center">
        <div class="col-6">
            <!-- First name -->
            <label for="image">Product Image</label>
           <input type="file" name="image" id="image">
        </div>
          </div>
        {{!-- <div class="col">
            <!-- Last name -->
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
        </div> --}}
  

     {{!-- <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <!-- Last name -->
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
        </div>
    </div>

         <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <!-- Last name -->
           <input type="file" name="image" id="image">
        </div>
    </div>

    <!-- Newsletter -->
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div> --}}

    <!-- Sign up button -->
            <div class="form-row mb-4 justify-content-center">
        <div class="col-6">
            <!-- First name -->
   <button class="btn btn-info my-4 btn-block" type="submit">Add Product</button>        </div>
          </div>
 

 
    <hr>
{{!-- 
    <!-- Terms of service -->
    <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a> --}}

</form>