{{!-- <form action="/create_blog" method="post" enctype="multipart/form-data">
    <div> <label for="title">Title</label>
        <input type="text" name="title" id="title"> </div>
    <div>
        <label for="image">Image</label>
        <input type="file" name="image" id="image">
    </div>
    <button type="submit">Add Blog</button>
</form> --}}
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a style="color:white;font-family:Cabin" class="navbar-brand" href="/">SmartMart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a style="color:white" class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                    <li class="nav-item dropdown">
        <a style="color:white" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
       
                <a  class="nav-item nav-link" href="/point">Point of sale</a>
                <a  class="nav-item nav-link" href="/sale"> Mega sale products</a>
                <a  class="nav-item nav-link" href="/new"> new products</a>
                <a  class="nav-item nav-link" href="/story"> new story</a>
        </div>
      </li>
                <a style="color:white" class="nav-item nav-link" href="/dashboard">dashbord</a>
                <a style="color:white"  class="nav-item nav-link" href="/about">About</a>

            </div>
        </div>
    </nav>
<form action="/point" method="post" enctype="multipart/form-data" class="text-center border border-light p-5">

    <p class="h4 mb-4">point of sale </p>

    <div class="form-row mb-4 justify-content-center">
        <div class="col-6">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control"  name="product_name" placeholder="Product Name">
        </div>
          </div>


              <div class="form-row mb-4 justify-content-center">
        <div class="col-6">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="product_price" placeholder="Product Price">
        </div>
          </div>


                   <div class="form-row mb-4 justify-content-center">
        <div class="col-6">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="product_barcode" placeholder="Product Barcode">
        </div>
          </div>

                   <div class="form-row mb-4 justify-content-center">
        <div class="col-6">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="product_title" placeholder="Product Title">
        </div>
          </div>


                   <div class="form-row mb-4 justify-content-center">
        <div class="col-6">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="product_details" placeholder="Product Details">
        </div>
          </div>
        <div class="form-row mb-4 justify-content-center">
        <div class="col-6">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="product_type" placeholder="Product Types">
        </div>
          </div>




                   <div class="form-row mb-4 justify-content-center">
        <div class="col-6">
            <!-- First name -->
            <label for="image">Product Image</label>
           <input type="file" name="image" id="image">
        </div>
          </div>
        {{!-- <div class="col">
            <!-- Last name -->
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
        </div> --}}
  

     {{!-- <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <!-- Last name -->
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
        </div>
    </div>

         <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <!-- Last name -->
           <input type="file" name="image" id="image">
        </div>
    </div>

    <!-- Newsletter -->
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div> --}}

    <!-- Sign up button -->
            <div class="form-row mb-4 justify-content-center">
        <div class="col-6">
            <!-- First name -->
   <button class="btn btn-info my-4 btn-block" type="submit">Add Product</button>        </div>
          </div>
 

 
    <hr>
{{!-- 
    <!-- Terms of service -->
    <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a> --}}

</form>